<footer class="mt-auto">
    <div class="bg-dark">
        <div class="container p-4">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="text-info">Çalışma Saatleri</h4>
                    <p class="text-light">Pzt-Cmrt: 08:00-20:00</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary" href="/Contact/Index">İletişim</a>
              
                </div>
                <div class="col-md-4">
                    <h4 class="text-info">Adres</h4>
                    <p class="text-light">İstanbul<p>
                </div>
                    
            </div>
        </div>
    </div>
</footer>